<div class="container">

  <h3>All Courses</h3>

  <mat-tab-group>




    <mat-tab label="Beginners"
             *ngIf="(beginnerCourses$ | async) as beginnerCourses">

      <courses-card-list (courseEdited)="reloadCourses()"
                         [courses]="beginnerCourses">

      </courses-card-list>

    </mat-tab>

    <mat-tab label="Advanced"
             *ngIf="(advancedCourses$ | async) as advancedCourses">

      <courses-card-list (courseEdited)="reloadCourses()"
                         [courses]="advancedCourses">


      </courses-card-list>

    </mat-tab>



  </mat-tab-group>

</div>
